[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.0.2"
fastparquet = "*"
pyarrow = "*"
boto3 = "*"
awscli = "*"
prefect = "==2.0b5"
s3fs = "*"
mlflow = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
